% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <!--Stores Content-->
        <div class="col-12 col-sm-6 col-md-8 ">
            <div class="row h100">
                <div class="col-12 white-text">
                    <h1>Tweet Generator</h1>
                    <hr />
                    <h2>Generates sentences of a given length.</h2>
                    <span>{{ sentence }}</span>
                    <form action="/">
                        <button type="submit" class="btn btn-light">
              Generate! &#x2606;
            </button>
                        <button type="submit" class="btn btn-light">Word Length</button>
                        <button type="button" class="btn btn-outline-light">Light</button>
                        <button type="submit" class="btn btn-light">
              &#x2606; Favorite
            </button>
                    </form>
                </div>
            </div>
        </div>

        <!--Displays Favorited Items-->
        <div class="col-6 col-md-4 justify-content-end">
            <div class="row">
                <div class="col white-text">
                    <h1>Favorites</h1>
                    <div class="list-group">
                        <a href="#" class="list-group-item rounded list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                            <small>&#9650; &#9660;</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}